html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Patua One', sans-serif;
  width: 80%;
  color: #9fa1a4;
  margin: 20px auto 0;
}
/*.wrapper{

}*/
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow:nowrap;
  justify-content: space-around;
}

.flex-item {
  height: 36px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.stepBt{
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 0.66rem;

}

main{
  width: 600px;
}


