:root {
  --color1: #f6905d;
  --color2: #deb408;
  --color3: #9ed8d2;
  --color4: #005581;
  --color5: #416A74;
  --colorNeutral: #9fa1a4;
}

.stepBt {
  text-align: center;
  background-color: var(--colorNeutral);
  border-radius:50%;
  transition-duration: 0.3s;
}
.flex-item:nth-child(4n+1) .stepBt {
  text-align: center;
  background-color: transparent;
  border: 3px solid var(--colorNeutral);
}
.stepBt.current {
  transform: scale(0.5);
}

.c1 .stepOn{
    background-color: var(--color1)!important;
}
.c2 .stepOn {
  background-color: var(--color2)!important;
}
.c3 .stepOn {
  background-color: var(--color3)!important;
}
.c4 .stepOn {
  background-color: var(--color4)!important;
}
.c5 .stepOn {
  background-color: var(--color5)!important;
  transition-duration:  0.6s;
}

.stepOn{
  color:#fff;
  background-color: #EBBA23!important;
}

